@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-size: 1em;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(238, 29%, 16%);
}

body{
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;

}

.container{
    display: flex;
    width: 70%;
    max-width: 60em;
    flex-direction: row;
    background-color: white;
    border-radius: 2em;
    box-shadow: 1px 20px 30px rgba(0, 0, 0, 0.353);
}

/*   images section */

.images-section{
    width: 40%;
}

.images-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.background{
    position: absolute;
    height: 60em;
    right: 0;
    top: -18em;
}

.main{
    position: absolute;
    right: 0em;
    top: 4em;
}

.box{
    position:absolute;
    right: 18em;
    top: 12em;
}

/*   questions section   */

.questions-section{
    width: 60%;
    padding: 4em;
}

h1{
    font-size: 2em;
    margin-bottom: 1em;
}

.questions{
    display: flex;
    flex-direction: column;
    height: 20em;
    overflow-y: auto;
    overflow: scroll;
    padding-right: 1em;
}

.question-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0;
    cursor:pointer;
}

.question-bundle{
    border-bottom: lightgrey solid 1px;
}

.question:hover{
    color: hsl(14, 88%, 65%);
}

.question.active{
    font-weight: 700;
}

.question.active:hover{
    color: hsl(238, 29%, 16%);
}

.answer{
    padding-bottom: 1em;
    color: hsl(240, 6%, 50%);
    font-size: 0.9em;
}

.collapsed{
    display: none;
    overflow: hidden;
}

.expanded{
    display: block;
}

.arrow.up{
    transform: rotate(180deg);
}

footer{
    color: white;
}

.orange{
    color: orange;
}

/*   SMALLER SCREENS/TABLETS  */

@media (max-width: 1170px){

    .questions-section{
       padding: 2em;
    }

    .background{
        height: 60em;
        top: -16em;
        right: -12em;
        scale: 0.6;
    }
    
    .main{
        right: -4em;
        top: 4em;
        scale: 0.7;
    }
    
    .box{
        right:10em;
        top: 11em;
        scale: 0.7;
    }

}

/*   PHONES   */

@media (max-width: 800px){

    .container{
        flex-direction: column;
    }

    .images-section{
        width: 100%; 
        display: flex;
        justify-content: center;
    }

    .questions-section{
        width: 100%;
        padding: 1em;
    }

    .background{
        top: 0;
        right: 20em;
    }
    
    .main{
        width: 100%;
        top: -7em;
        left: 0;
        scale: 1;
    }
    
    .box{
        scale: 0.4;
        top: -6em;
        left: -4em;
    }

    footer{
        font-size: 0.6em;
    }

    .images-wrapper{
        width: 15em;
        height: 4em;
    }


}

@media (max-width: 320px) {
    .images-section{
        display: none;
    }
}
